html, body {
    background: white;
    font-family: Arial;
    font-size: 13px;
}

#main_div{
    width: 1050px;
    height: 650px;
    position: absolute;

    left: 50%;
    top: 50%;
    margin-left: -525px;
    /*margin-top: -325px;*/
    margin-top: -280px;
    border: 2px #DDDDDD solid;
    border-radius: 15px;
}

#left_div {
    width:50px;
    height:550px;
    float: left;
}

#center_div {
    width:800px;
    height:550px;
    float: left;
}

#right_div {
    width:200px;
    height:650px;
    float: right;
}

#colorDiv {
    border: #DDDDDD 2px solid;
    border-radius: 5px;
    top: 1%;
    left: 3%;
    position: relative;
    width: 93%;
    height: 25%;
    text-align: center;
}

#selectColorValueDiv
{
    top: 5%;
    position: relative;
}

#opacitySlider{
    position: relative;
    top: 2.5%;
    width: 90%;
    left: 5%;
    display: inline-block;
}

#entityDiv {
    border: #DDDDDD 2px solid;
    border-radius: 5px;
    top: 3.5%;
    position: relative;
    width: 93%;
    height: 49.5%;
    left: 3%;
    text-align: center;
}

#sizeDiv {
    border: #DDDDDD 2px solid;
    border-radius: 5px;
    top: 4.5%;
    position: relative;
    width: 93%;
    height: 15.5%;
    left: 3%;
    text-align: center;
}

#selectSizeValueDiv{
    top: 5%;
    position: relative;

}

#sizeSlider{
    position: relative;
    top: 50%;
    width: 85%;
    left: 7.5%;
}

#bottom_div {
    width:850px;
    height:100px;
    float: left;
}

canvas {
}

#playButton {
    width: 50px;
    top: 35px;
    left: 30px;
    float: left;
    position: relative;
}

#speedSlider {
    top: 5px;
    left: 10px;
    height: 60px;
    /*    float: left;*/
    position: relative;
}

#timeSlider {
    width: 740px;
    left: 100px;
    top: 600px;
    position: absolute;
}

#selectAxeXValueDiv {
    top:10px;
    width:670px;
    height: 25px;
    float: left;
    position: relative;
}

#selectAxeXTypeDiv {
    width: 75px;
    float: left;
    top: 10px;
    position: relative;
}

#selectAxeYValueDiv {
    transform: rotate(270deg);
    -moz-transform:rotate(270deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);

    width: 470px;
    left: -210px;
    bottom: -295px;
    position: relative; 
}

#selectAxeYTypeDiv {
    transform: rotate(270deg);
    -moz-transform:rotate(270deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);

    width: 65px;
    bottom: -5px;
    left: -7px;
    position: relative; 
}
