html, body {
    background: white;
    font-family: Arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#main_div{
    width: 1053px;
    height: 650px;
    position: absolute;

    left: 50%;
    top: 50%;
    margin-left: -526.5px;
    margin-top: -325px;
}

#left_div, #center_div, #right_div, #bottom_div {
    padding:1px 0;
}

#left_div {
    float:left;
    width:50px;
    height:525px;
    background-color:#FFCC00;
    position:absolute;
}

#center_div {
    width:800px;
    height:525px;
    margin-left:51px;
    background-color:#00CCFF;
    position:absolute;
}

#right_div {
    width:200px;
    height:650px;
    margin-left:852px;
    background-color:#CCFF00;
    position:absolute;
}

#bottom_div {
    width:851px;
    height:122px;
    background-color:#FF00CC;
    margin-top: 528px;
    position:absolute;
}

canvas {
    /*margin: 20px 20px 0 20px;*/
    float: left;
    /*-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;*/
}

div.ProcessingUi {
}


.sliderWithScale {
    display:inline-block;
    width:750px;
    text-align: center;
}
